apiVersion: batch/v1
kind: Job
metadata:
  labels:
    job-name: fio-sample-{{ node_name }}
    name: fio-sample-{{ node_name }}
  name: fio-sample-{{ node_name }}
spec:
  completions: 1
  parallelism: 1
  backofflimit: 0
  template:
    metadata:
      labels:
        job-name: fio-sample-{{ node_name }}
    spec:
      containers:
      - command:
        - /bin/fio
        args: {{ fio_args }}
        image: quay.io/gbsalinetti/perf-utils:latest
        imagePullPolicy: IfNotPresent
        name: perf-utils-fio
        securityContext:
          privileged: true
          runAsUser: 0
        stdin: true
        stdinOnce: true
        tty: true
        volumeMounts:
        - mountPath: /host
          name: host
      nodeName: {{ node_name }}
      priority: 0
      restartPolicy: Never
      securityContext: {}
      serviceAccount: default
      serviceAccountName: default
      terminationGracePeriodSeconds: 30
      tolerations:
      - effect: NoExecute
        key: node.kubernetes.io/not-ready
        operator: Exists
        tolerationSeconds: 300
      - effect: NoExecute
        key: node.kubernetes.io/unreachable
        operator: Exists
        tolerationSeconds: 300
      volumes:
      - hostPath:
          path: /
          type: Directory
        name: host

