apiVersion: v1
kind: Pod
metadata:
  annotations:
    openshift.io/scc: privileged
  name: perfutils-{{ node_name }}
spec:
  containers:
  - image: quay.io/gbsalinetti/perf-utils:latest
    imagePullPolicy: IfNotPresent
    name: perfutils-{{ node_name }}
    resources: {}
    securityContext:
      privileged: true
      runAsUser: 0
    stdin: true
    stdinOnce: true
    tty: true
    volumeMounts:
    - mountPath: {{ mount_path }}
      name: host
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  hostNetwork: true
  hostPID: true
  nodeName: {{ node_name }}
  priority: 0
  restartPolicy: Never
  securityContext: {}
  serviceAccount: default
  serviceAccountName: default
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300
  volumes:
  - hostPath:
      path: /
      type: Directory
    name: host

